<html>
    <head>
        <title>Sinfarian Chat</title>
        <link rel="stylesheet" href="assets/css/angular/angular-material.min.css">
        <link rel="stylesheet" href="assets/css/angular/ngDialog.css">
        <link rel="stylesheet" href="assets/css/angular/ngDialog-theme-default.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/material.css">

        <script src="assets/js/libs/winstore-jscompat.js"></script>
        <script src="assets/js/libs/jquery-2.1.4.min.js"></script>
        <script src="assets/js/libs/underscore.js" type="text/javascript"></script>

        <script src="assets/js/angular/angular.min.js"></script>
        <script src="assets/js/angular/angular-messages.js"></script>
        <script src="assets/js/angular/angular-animate.min.js"></script>
        <script src="assets/js/angular/angular-aria.min.js"></script>
        <script src="assets/js/angular/angular-sanitize.js"></script>
        <script src="assets/js/angular/restangular.js"></script>
        <script src="assets/js/angular/angular-material.min.js"></script>
        <script src="assets/js/angular/ngDialog.js" type="text/javascript"></script>
        <script src="assets/js/angular/scrollglue.js" type="text/javascript"></script>

        <script src="assets/js/FileSaver.min.js" type="text/javascript"></script>
        <script src="assets/js/jszip.min.js" type="text/javascript"></script>
    </head>
    <body layout="column" flex>
        <div ng-app="myApp" ng-controller="chatCtrl"><!--alert messages-->
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" style="position:absolute;top:0;width:100%;">{{alert.msg}}</uib-alert>


            <div layout="column"><!--main page-->
                <md-toolbar layout="row" flex>
                    <md-button ng-click="toggleSidenav('primaryNav')" class="md-icon-button">
                        <md-icon aria-label="Menu Toggle">
                            <i class="fa fa-bars"></i>
                        </md-icon>
                    </md-button>
                    <span flex>Sinfar Chat: {{playerName}}</span>
                    <md-button ng-click="toggleSidenav('playerListNav')" class="md-icon-button" ng-if="pNav='chat'">
                        <md-icon aria-label="Player List Toggle">
                            <i class="fa fa-bars"></i>
                        </md-icon>
                    </md-button>
                </md-toolbar>
                <div layout="row" flex>
                    <md-sidenav flex layout="column" class="md-sidenav-left" md-component-id="primaryNav">
                        <md-button class="md-accent" ng-click="pNav='settings'">Settings</md-button>
                        <md-button class="md-accent" ng-click="pNav='chat'">Chat Log</md-button>
                        <md-button class="md-accent" ng-repeat="(player,msg) in messagesList.pms">{{player}}</md-button>
                    </md-sidenav>
                    <div layout="column" flex ng-switch on="pNav">
                        <div class="animate-switch" ng-switch-when="settings" settings-view></div>
                        <div class="animate-switch" ng-switch-when="pm" pm-view></div>
                        <div class="animate-switch" ng-switch-default chat-view></div>
                    </div>
                </div>
            </div>


            <audio id="audio1"><source src="http://sinfar.net/sounds/button-9.wav"></audio>
        </div>


        <script src="assets/js/material.js"></script>
        <script src="assets/js/controllers.js"></script>
        <script src="components/directives/directives.js"></script>
        <script src="assets/js/services.js"></script>
        <script src="components/services/chatLogService.js"></script>
        <script src="components/services/settingsService.js"></script>
    </body>
</html>