<md-dialog-content layout="column">
    <h1 class="md-title">Sinfar Webclient Login</h1>
    <div layout="column">
        <md-input-container>
            <label>Username</label>
            <input ng-model="playerName" ng-disabled="loginDisable">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="password" ng-disabled="loginDisable">
        </md-input-container>
    </div>
    <md-dialog-actions>
        <md-button ng-click="loginchk()" class="md-raised md-primary" ng-disabled="loginDisable">Login</md-button>
    </md-dialog-actions>
</md-dialog-content>